body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    transition: background-color 0.4s ease;
}


.input{
    visibility: hidden;

}

.label{
    position: relative;
    width: 80px;
    height: 40px;
    background-color: lightgray;
    border-radius: 20px;
    transition: background-color 0.4s ease;
}

.circle{
    width: 34px;
    background-color: white;
    height: 34px;
    border-radius: 50%;
    top: 3px;
    position: absolute;
    left: 3px;
    transition: transform 0.4s ease;
}

.input:checked + .label .circle{
    transform: translateX(40px);
}

.input:checked + .label{
    background-color: salmon;
}


